
@model ToDoList.Models.Category

@{
    ViewData["Title"] = "Category - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Create a new item</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.LabelFor(model => model.Categorizations)
    @*@Html.DropDownList("ItemId")*@

    <input type="submit" value="Create" class="btn btn-default" />
}

@Html.ActionLink("Back to List", "Index")