<html>
<head>
    <title>To Do List</title>
</head>
<body>
    <h2>Welcome to the To Do List!</h2>
    <p>@Html.ActionLink("List", "Index", "Items", null)</p>
    <p>@Html.ActionLink("List", "Index", "Categories", null)</p>

</body>
</html>